{% extends 'base.html.twig' %}

{% block title %}Edit BlogPost{% endblock %}

{% block body %}
    <h1>Edit BlogPost</h1>

    <div class="form-container">
    <a href="{{ path('app_post_index') }}">back to list</a>
    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    </div>


    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
