{% extends 'base.html.twig' %}

{% block title %}New BlogPost{% endblock %}

{% block body %}
    <h1>Create New Post</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">back to list</a>
{% endblock %}
